<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/bootstrap-grid.css">
	<title>Rental ROI DSS</title>
	<style>
		.col-lg-4 {
			border: 1px solid black;
		}
		.col-lg-8 {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<div class="container">
		<div id="instructions" style="text-align: center;">
			<h1>Rental ROI DSS</h1>
			<p class="lead">
			Use this page to input details about the property you are considering.
			<br>
			After you enter details ... (whatever)
			</p>
		</div>

		<!-- /#instructions -->
		<div id="flashing">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="alert alert-danger" role="alert">
						<ul class=flashes>
							{% for message in messages %}
								<li>{{ message }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}
		</div>
		<!-- /#flashing -->

		<form action="/" method="POST">
			<div class="row">
				<div class="form-group col-sm-4">
					{{ wtform.price.label }}<br>
					{{ wtform.price(class_="form-control") }}
				</div>
				<div class="form-group col-sm-4">
					{{ wtform.address.label }}<br>
					{{ wtform.address(class_="form-control") }}
				</div>
				<div class="form-group col-sm-4">
					{{ wtform.zip.label }}<br>
					{{ wtform.zip(class_="form-control") }}
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-4">
					{{ wtform.deposit.label }}<br>
					{{ wtform.deposit(class_="form-control") }}
				</div>
				<div class="form-group col-sm-4">
					{{ wtform.depreciation.label }}<br>
					{{ wtform.depreciation(class_="form-control") }}
				</div>
				<div class="form-group col-sm-4">
					{{ wtform.resale_value.label }}<br>
					{{ wtform.resale_value(class_="form-control") }}
				</div>
			</div>
			<input type="submit" value="submit">
			<br>
			<br>

		{{ table |safe }}
</body>
</html>