<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/bootstrap-grid.css">
	<title>Rental ROI DSS</title>
	<style>
		.col-lg-4 {
			border: 1px solid black;
		}
		.col-lg-8 {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<div class="container">
		<div id="instructions" style="text-align: center;">
			<h1>Rental ROI DSS</h1>
			<p class="lead">
			Use this page to input details about the property you are considering.
			<br>
			After you enter details ... (whatever)
			</p>

		</div>
		<!-- /#instructions -->
		<form action="/" method="POST">
			<div class="row">
				<div class="form-group col-sm-4">
					<label for="price">Price</label>
					<input name="price" type="price" class="form-control" id="price" placeholder="$">
				</div>
				<div class="form-group col-sm-4">
					<label for="address">Address</label>
					<input name="address" type="address" class="form-control" id="address" placeholder="123 Fake Street">
				</div>
				<div class="form-group col-sm-4">
					<label for="zip">Zip</label>
					<input name="zip" type="zip" class="form-control" id="zip">
				</div>
			</div>
			<div class="button">
				<button type="submit">Submit</button>
			</div>
		</form>


		<br>
		{{ table |safe }}
</body>
</html>